#
# Atelier Disko Distribution - GIT Exclusion File
#
# Copyright (c) 2013 Atelier Disko - All rights reserved.
#
# This software is proprietary and confidential. Redistributions 
# not permitted. No warranty, explicit or implicit provided.
#

# Entries with a leading slash are anchored at the base directory.

# Libraries
/app/vendors

# Data
/data/dumps/*
!/data/dumps/empty

# Files
/media_versions/*
/media/*
!/assets/robots.txt
!/media/robots.txt

# Temporary Files
/tmp/*

# Logs
/log/*

# Other
*.mo

# Placeholder
empty
