# Copyright 2013 David Persson. All rights reserved.
# Copyright 2017 Atelier Disko. All rights reserved.
#
# Use of this source code is governed by the AD General Software
# License v1 that can be found under https://atelierdisko.de/licenses
#
# This software is proprietary and confidential. Redistributions
# not permitted. Unless required by applicable law or agreed to
# in writing, software distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.

# Entries with a leading slash are anchored at the base directory.

/app/libraries
node_modules 
config/contexts/*.patch
config/ssl/*.key
/tmp/*
/log/*
.vagrant
!empty
